<!-- Modal Template for [About] -->
<div id="aboutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="labelAboutModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="labelAboutModal">About WebApp Prototypes</h3>
  </div>
  <div class="modal-body">
      <p class="text-center">
        TBD
      </p>
      <p class="text-center">
        <a href="http://twitter.com/kaoma" class="btn btn-twitter"><i class="icon-twitter"></i> | #kaoma</a> 
        <a href="https://github.com/simonkim/webapp-protos" class="btn btn-github"><i class="icon-github"></i> | Fork</a> 
      </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
