<!-- Thin Widget Bar -->
<div class="row-fluid widgets">
    <div class="span10 offset1">
        <!-- Tweet Button -->
        <div class="span1 offset11" id="twbutton">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        </div>
</div>
</div>



<div class="row-fluid section1 pitch">

<!-- Slideshow -->
    <div class="span3 offset1">
        <img class="img-polaroid" src="http://placehold.it/320x240">
    </div>
    <div class="span7">
        <a href="slideshow"> <h2> Slideshow </h2> </a>
    </div>
</div>

<div class="row-fluid section1">
<!-- WebApp Skeleton -->
    <div class="span3 offset1">
        <img class="img-polaroid" src="http://placehold.it/320x240">
    </div>
    <div class="span7">
        <a href="appskel"> <h2> WebApp Skeleton </h2> </a>
    </div>

</div>


