<!-- Thin Widget Bar -->
<div class="row-fluid widgets">
    <div class="span10 offset1">
        <!-- Tweet Button -->
        <div class="span1 offset11" id="twbutton">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        </div>
    -->
</div>
</div>



<!-- Angular.js template for Project List -->
<div class="row-fluid section1" ng-repeat="project in projects">
    <!-- sshow -->
    <div class="span8 offset2">
        <h2> SShow Demo </h2>
        <div id="sshow">
            <div id="sshowslides">
                <div class="sshowslide" data-src="images/photos/1.jpg"></div>
                <div class="sshowslide" data-src="images/photos/2.jpg"></div>
                <div class="sshowslide" data-src="images/photos/3.jpg"></div>
                <div class="sshowslide" data-src="images/photos/4.jpg"></div>
            </div>
        </div>
        <p class="text-center"> Work in progress </p>
    </div>
</div>


