<!-- Thin Widget Bar -->
<div class="row-fluid widgets">
    <div class="span10 offset1">
        <!-- Tweet Button -->
        <div class="span1 offset11" id="twbutton">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        </div>
</div>
</div>



<!-- Angular.js template for Project List -->
<div class="row-fluid section1" ng-repeat="project in projects">
    <!-- sshow -->
    <div class="span8 offset2">


        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">SShow Demo</a></li>
            <li><a href="gallery-fullscreen.html" >blueimp/Gallery Fullscreen</a></li>
            <li><a href="gallery-switch.html" >blueimp/Gallery Carousel</a></li>
            </ul>

            <div class="tab-content">
                <!-- SShow Demo -->
                <div class="tab-pane active" id="tab1">
                    <div id="sshow" width="640" height="340">
                        <div id="sshowslides">
                            <div class="sshowslide" data-text="Ever wanted to leave?"></div>
                            <div class="sshowslide" data-src="images/photos/1.jpg"></div>
                            <div class="sshowslide" data-text="How about a beach? "></div>
                            <div class="sshowslide" data-src="images/photos/2.jpg"></div>
                            <div class="sshowslide" data-text="Burning horizon..."></div>
                            <div class="sshowslide" data-src="images/photos/3.jpg"></div>
                            <div class="sshowslide" data-text="Being part of nature..."></div>
                            <div class="sshowslide" data-src="images/photos/4.jpg"></div>
                            <div class="sshowslide" data-text="What are you waiting for? Come with me!"></div>
                        </div>
                    </div> 

                    <p class="text-center"> Work in progress </p>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="js/libs/sshow.js"></script>
<script type="text/javascript" src="js/libs/blueimp-gallery.min.js"></script>

<script type="text/javascript">

    console.log( 'loaded body.html');
    /* sshow */
    sshow_api_init();
</script>



