<!-- Thin Widget Bar -->
<div class="row-fluid widgets">
    <div class="span10 offset1">
        <p class="text-center">Thin Widget Bar</p>
        <!-- Tweet Button -->
        <!--
        <div class="span1 offset11" id="twbutton">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        </div>
    -->
</div>
</div>



<!-- Angular.js template for Project List -->
<div class="row-fluid section1" ng-repeat="project in projects">

    <!-- Bootstrap Carousel -->
    <div class="span8 offset2">
        <div id="carousel-example-generic" class="carousel slide">
          <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://placehold.it/870x500" alt="">
                <div class="carousel-caption">
                    <h4>Slide #1</h4>
                    <p> description </p>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/870x500" alt="">
                <div class="carousel-caption">
                    <h4>Slide #2</h4>
                    <p> description </p>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/870x500" alt="">
                <div class="carousel-caption">
                    <h4>Slide #3</h4>
                    <p> description </p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            &lsaquo;
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            &rsaquo;
        </a>
        </div>
        <p class="text-center">Twitter Bootstrap Carousel</p>
    </div>
</div>


