<!-- FAQ -->
    <div class="row-fluid faq">
        <div class="span10 offset1">
            <p class="text-center">Footer</p>
            <h3>FAQ</h3>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse"
                            data-parent="#accordion2" href="#collapseOne">
                            Why do you need FAQ?
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            I don't know. I just want to keep this space and the style for later use.
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>


<!-- License -->
    <div class="row-fluid footer">
        <div class="span12">
            <p>This work is licensed under the
            <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC By-SA 3.0</a>, 
            without all the cruft that would otherwise be put at the bottom of the pge.</p>
        </div>
    </div>

    </div>
