<div class="row-fluid widgets">
    <div class="span10 offset1">
        <div class="span1 offset11" id="twbutton">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        </div>
    </div>
</div>


    <!-- Angular.js template for Project Detail -->
    <div class="row-fluid section1" >
    	<div class="span4 offset1 asset">
    		<img class="img-polaroid" ng-src="{{project.thumbnailurl}}">
    	</div>
    	<div class="span6 copy">
    		<a href="/redir?url={{project.url}}&id={{project.id}}">
    			<h3> {{project.name}} </h3>
    		</a>
    		<p> {{project.descr}} </p>
    		<p>
    			<p>
    				<a class="btn btn-mini" href="#/"> <i class="icon-chevron-left"></i> Back</a>
    				<a href="#" class="btn btn-mini disabled"><i class="icon-star"></i> | Like </a>
    				<a href="#" class="btn btn-mini disabled"><i class="icon-comment"></i> | Comment </a>
    				<!--a href="#/projects/{{project.id}}" class="btn" > Edit <i class="icon-edit"></i></a-->
    				<a href="/redir?url={{project.url}}&id={{project.id}}" class="btn btn-mini btn-primary" > Go <i class="icon-chevron-right"></i></a>


    			</p>
    		</div>
    		<div class="control-group">
    			<div class="controls">
    			</div>
    		</div>
    	</div>

    	<div class="span10 offset1">
    	</div>

